
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;
}
body {
    width: 100%;
}
#container {
    padding: 0px 80px;
}
html {
    scroll-behavior: smooth;
  }
  
::-webkit-scrollbar {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #AEC3B0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2b3732;
  }
  
/* top bar */
.s-1 {
    background-color: #AEC3B0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-1 .intro p {
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.s-1 .ICONS a {
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.s-1 .ICONS a:hover {
    color: #166896;
    
}



/* navbar */
.s-2 {
    height: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav-ele {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-ele li {
    list-style: none;
 
}
.nav-ele li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    transition: background-color 0.3s;
    border-radius: 5px; /* Fixed border radius */
    box-sizing: border-box; /* Padding included in the width */
    outline: 0.5px solid transparent; /* Use outline instead of border */
}

.nav-ele li a:hover,
.nav-ele li a.active{
    /* background-color: #465b52; */
    outline-color: #fff; /* Change outline color on hover */
}
.nav-ele li img{
    height: 100px;
}

/* hero section  */
.live-chat a {
    text-decoration: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    top: 50%;
    right: -64px;
    padding: 30px 30px;
    background-color:#166896;
    z-index: 10000;
    transform: rotate(270deg);
    font-size: 20px;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}
.live-chat  a  i {
    padding: 0px 5px;
}
.live-chat a:hover {
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
      
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #cdcdcd;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: none;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
}

.carousel-item.active {
    left: 0;
    transition: all 0.3s ease-out;
}


.carousel-item .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: black;
    padding-left: 80px;/* Change padding-right to padding-left */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
 }
 
.carousel-item .text h4 {
    margin-bottom: 50px;
    color: #540b0e;
    font-size: 35px;
    font-family: "EB Garamond";

}
.carousel-item .text h2 {
    margin-bottom: 50px;
    margin-right: 100px;
    color: black;
    font-family: "Playfair Display";
    font-size: 70px;
    line-height: 80px;
}
.carousel-item .text a {
    margin-bottom:50px;
    padding: 15px 75px ;
    text-decoration: none;
    color: #efe6dd;
    font-size: 20px;
    outline: 2px solid #efe6dd;
    transform: border-radius 0.3s ease;
}
.carousel-item .text a:hover {
  background-color: #000000;
  outline: 2px solid #000000;
    border-radius: 5px;
}
.carousel-item div {
    height: 100%;
}
/* section 4 */
.s-4{
    margin:100px 0px;
    display: flex;
    gap: 50px;
}
.box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 350px;
    cursor: pointer;
    padding: 30px;
    transition: box-shadow 0.5s ease;
    outline: 1px solid black;

}
.box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
.box img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
.box h4 {
    margin-top:20px;
    font-size: 25px;
    text-align: center;
}
.box p {
    margin-top: 20px;
    text-align: start;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}

/* section 5 */

.s-5 {
    display: flex;
    margin: 100px 0px;
    
}
.about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 50px ;
}
.about h4 {
    color: #432818;
    font-weight: bolder;
    word-spacing: 4px;
    font-size: 25px;
    margin: 20px 0px;
} 
.about h1 {
    color: #AEC3B0;
    font-weight: bold;
    font-size: 50px;
    margin: 10px 0px;
}
.about p {
    color: #222;
    font-size: 22px;
    line-height: 40px;
    word-spacing: 5px;
    margin: 10px 0px;
}
.about a {
    margin: 40px 0px 0px 0px ;
    padding: 20px 40px ;
    border: 1px solid #222;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.about a:hover {
   background-color: #ffffff;
    color: #000000;

}

.image {
    padding: 20px 50px;
}
.image img {
    height: 600px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    cursor: pointer;
    outline: 2px solid #465b52;
}
/* s-6 */
.s-6 {
    margin : 100px 0px ;
}
.exp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exp h1 {
    font-size: 80px;
    color: #432818;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.exp h5 {
    font-size: 20px ;
    margin-bottom: 30px;
    padding:0px 200px;
    line-height: 30px;
    text-align: center;
}
.pexp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.first-exp {
    margin: 30px;
    height: 200px ;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 1px solid black;
    transition: box-shadow 0.5s ease;
}
.first-exp:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.first-exp .exp-img img {
    margin: 20px;
    height: 100px;
    width: 100px;
}
.first-exp .expText {
    margin: 20px;
}
.first-exp .expText h4 {
    color: #222;
    word-spacing: 2px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.first-exp .expText p {
    font-size: 15px;
    margin: 20px 0px;
    word-spacing: 5px;
}


/* footer */
.s-7 {
    background-color: #222;
    height: 420px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer img {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
.footer .social-media {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.footer .social-media a {
    text-decoration: none;
    color: #AEC3B0;
    font-size: 40px;
    padding: 10px 10px;
    transition: background-color 0.3s;
    border-radius: 5px; /* Fixed border radius */
    box-sizing: border-box; /* Padding included in the width */
}

.footer .social-media a:hover {
    outline: 0.5px solid #465b52; 
    color: #fff;
    background-color: #222;
}
.footer .f-t {
    text-align: center;
    margin-top: 10px;
   
}
.footer .f-t p {
    color: #fff;
    font-size: 20px;
    word-spacing: 1px;
    margin: 15px 0px;
}
.footer .links a {
    text-decoration: none;
    color: #465b52;
    font-size: 20px;
    margin: 10px 0px;
}
.footer .links a:hover {
    color: #fff;
}
.footer .links span {
    font-size: 20px;
    color: #fff;
}



/* Blog Pages */

.s-8 {
    height: 100%;
    margin: 100px 0px;
}
.Blogheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Blogheading img {
    height: 300px;
    width: 300px;
}
.Blogheading h2 {
    font-size: 30px;
    margin-top:  50px;
    padding: 0px 80px;
    font-family: 'spartan', sans-serif;
    text-align: center;
    line-height: 60px;
    color: #465b52;
}
.Blogheading h4 {
    font-size:25px;
    margin-top:50px;
    font-family: 'spartan', sans-serif;
    color: #465b52;
}
.s-9 {
    margin: 100px 0px;
}
.bigblog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;

}
.blogBox {
  height: 450px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  border-radius: 20px;
  outline: 0.5px solid black;
 
}
.blogBox:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}  
.blogBox h5 {
    font-size: 30px;
    text-align: center;
    background-color: #222;
    margin:20px 10px 20px 10px;
    padding: 10px 100px;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blogBox p {
    font-size: 20px;
    text-align: center;
    margin:20px 0px 20px 0px;
    line-height: 30px;
    word-spacing: 3px;
    color: #222;
    padding: 10px 20px;
}
.blogBox a {
    text-align: center;
    margin:20px 0px 20px 0px;
    text-decoration: none;
    padding: 10px 80px;
    
    font-size: 25px;
    border: 1px solid black;
    color: black;
}
.blogBox a:hover {
    background-color: #465b52;
    color: #fff;
    border-radius: 20px;
    transform: 0.5s ease;
}



/* PARENT LAW */
.s-10 {
    padding-bottom: 100px;
}
.parentHeading {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px 0px;
    background-color: #465b52;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(45, 42, 42, 0.45) 0px 25px 20px -20px;
}
.parentHeading h2 {
    font-family: 'spartan', sans-serif ;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
}
.goog-te-combo {
    background-color: #222; /* Background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Border */
    border-radius: 3px; /* Border radius */
    font-size: 20px; /* Font size */
    outline:none; /* Font family */
    cursor: pointer;
}
.goog-te-gadget-icon {
    display: none;
}
.goog-te-gadget-simple .goog-te-menu-value span {
    font-size: 20px;
}

.pText {
    margin: 5px 0px 5px 0px;
    border-radius: 20px;
    
}
.parentText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0px;
}
.parentText h1 {
    margin:20px 0px;
    font-weight: 600;
    font-size: 35px;
}
.parentText ol {
    padding: 0px 32px;
    margin: 10px 0px;
    font-style: italic;
}
.parentText ol li {
    margin: 10px 0px;
    font-size: 25px;
}
.parentText p{
    font-size: 25px;
    word-spacing: 5px;
    color: #222;
    line-height: 35px;
}



/* About Us page */


.s-11 {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition:  background-position 1s ease;
}
.s-11:hover {
    background-position: bottom;
    

}
.AboutBox hr {
    width: 400px;
    background-color:#fefae0;
   outline: none;
   border: none;
   height: 1px;
   margin: 20px 0px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.AboutBox {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.AboutBox h1 {
    color: #fefae0;
    font-family: 'spartan';
    margin: 10px 0px;
    font-weight: bolder;
}

.s-12{
    margin: 100px 0px ;
    display: flex;
}
.AboutImage img {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 100%;
    width: 600px;
    padding: 20px 20px;
}
.AboutText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}
.AboutText h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.AboutText p {
  font-size: 20px;
  margin: 15px 0px;
  word-spacing: 10px;
  letter-spacing: 2px;
  color: #222;
}
.AboutText ul {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size : 15x;
}
.AboutText ul li {
    padding: 5px 0px;
}
.AboutText a {
    margin: 15px 0px ;
    padding: 20px 30px;
    outline: 2px solid black;
    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 600;
}
.AboutText a:hover {
    transition: 0.3s ease;
    border-radius: 10px;
    background-color: black;
    color: #fff;
}
.container3 {
    height: 200px;
    width: 85%;
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.cnt1 {
    height: 200px;
    width: 30%;
    text-align: center;

}

.cnt01{
    padding-top: 20px;
    color: #2b3732;
    font-size: 30px;
    text-align: center;
}
.cnt2 {
    height: 200px;
    width: 30%;
    text-align: center;
}

.cnt02{
    padding-top: 20px;
    color: #2b3732;
    font-size: 30px;
    text-align: center;
}
.cnt1::after {
    font: bolder 40px;
    font-size: 100px;
    text-align: center;
    content: counter(count);
    animation: counter 5s linear infinite alternate;
    color: darkgoldenrod;
}

@keyframes counter {
    0% {
        counter-increment: count 0;
    }

    10% {
        counter-increment: count 50;
    }

    20% {
        counter-increment: count 100;
    }

    30% {
        counter-increment: count 200;
    }

    40% {
        counter-increment: count 289;
    }


}

.cnt2::after {
    font: bolder 40px;
    font-size: 100px;
    content: counter(count);
    animation: one 5s linear infinite alternate;
    color: darkgoldenrod;
}

@keyframes one {
    0% {
        counter-increment: count 0;
    }

    10% {
        counter-increment: count 10;
    }

    20% {
        counter-increment: count 20;
    }

    30% {
        counter-increment: count 40;
    }

    40% {
        counter-increment: count 56;
    }

   
}
/* contact us */
.s-13 { 
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .form h3 {
    margin-bottom: 50px;
    color: #000000;
    word-spacing: 5px;
    font-size: 35px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
    outline: 1px solid #000000;
    transition: border 0.3s;
    border: none;
    font-size: 15px;
    color: #000000;
    
    font-weight: bold;
}
  .form input::placeholder ,
  .form textarea::placeholder {
    color: #000000;
    font-size: 15px;
    
  }
  
.form input:focus ,
.form textarea:focus {
    outline: 2px solid black;
  }
  .form input.pnumber,
  .form input.email {
    width: 337.5px;
   
  }
  
  .form textarea {
    width: 100%;
  }
  
  .form button {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 40px;
    float: right;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: 2px solid #000000;
    transition: background-color color 0.5s;
    cursor: pointer;
    color: #001f54;
  }
  
  .form button:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
  }
  .s-16 {
    margin: 100px 80px;
    display: flex;
    /* flex-wrap: wrap; */
  }
  .Cinfo{
   
    background-color: #ffffff;
    outline: 1px solid black;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 187px;
    width: 300px;

    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }
  .Cinfo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 

  }
  .Cinfo i {
    font-size: 50px;
    margin-bottom: 25px;
    color: #eda641;
  }
  .Cinfo a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  .Einfo{
   
    background-color: #ffffff;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 187px;
    width: 300px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }
  .Einfo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 

  }
  .Einfo i {
    font-size: 50px;
    margin-bottom: 25px;
    color: #eda641;
  }
  .Einfo a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  .Ainfo{
    background-color: #ffffff;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 187px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    transition: background-color 0.5s ease;
  }
  .Ainfo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  }
  .Ainfo i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #eda641;
  }
  .Ainfo p {
    text-decoration: none;
    text-align: center;
    margin: 0px 4px;
    color: #000000;
    font-weight: bold;
  }
  .Winfo{
    background-color: #ffffff;
    outline: 1px solid black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 187px;
    width: 300px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.5s ease;
  }
  .Winfo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
  }
  .Winfo h4 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #eda641;

  }
  .Winfo p {
    text-align: start;
    margin: 3px 0px;
    color: #000000;
    font-weight: bold;
  }
  .map {
    margin: 0px 80px;
    margin-bottom: 100px;
    outline: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }


  /* privacy policy */
.s-14{
    margin: 100px 0px;
}
.s-14 h2 {
    font-size: 40px;
    font-family: 'Spartan';
    margin: 20px 0px;
}
.s-14 p{
    margin: 20px 0px;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 4px;
}


/* testimonials */
.s-15{
    margin-top: 70px;
    margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.testimonials-section{
	width: 100%;
	padding: 0px 8%;
    
}
.testimonials-section .section-header{
	max-width: 700px;
	text-align: center;
	margin: 0px auto 40px;
}
.section-header h1{
	position: relative;
	font-size: 36px;
	color: #284b63;
}
.testimonials-container{
	position: relative;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.testimonials-container .testimonial-card{
	padding: 20px;
}
.testimonial-card .test-card-body{
	box-shadow: 2px 2px 20px rgba(0,0,0,0.12);
	padding: 20px;
    
}
.test-card-body .quote{
	display: flex;
	align-items: center;
}
.test-card-body .quote i{
	font-size: 45px;
	color: #ee9b00;
	margin-right: 20px;
}
.test-card-body .quote h2{
	color: #284b63;
}
.test-card-body p{
	margin: 10px 0px 15px;
	font-size: 14px;
	line-height: 1.5;
	color: #000;
}
.test-card-body .ratings{
	margin-top: 20px;
}
.test-card-body .ratings i{
	font-size: 17px;
	color: #ee9b00;
	cursor: pointer;
}
.testimonial-card .profile{
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: #284b63;
}
.profile-desc span:nth-child(2){
	font-size: 100px;
	color: var(--text-clr);
}
.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -10px;
}
.owl-nav button{
	border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px !important;
	border-radius: 50%;
	font-size: 18px !important;
	background-color: var(--card-clr) !important;
	color: var(--primary-clr);
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: #ee9b00 !important;
	color: #000;
}
.owl-dots{
	margin-top: 15px;
}
.owl-dots .owl-dot span{
	background-color: #000 !important;
	padding: 6px !important;
}
.owl-dot.active span{
	background-color: #ee9b00 !important;
}













.chatbot-toggler {
    position: fixed;
    bottom: 15px;
    right: 10px;
    outline: none;
    border: none;
    height: 60px;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: black;
    transition: all 0.2s ease;
    z-index: 1000;
  }
  body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
  }
  .chatbot-toggler span {
    color: #ffffff;
    position: absolute;
  }
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
  }
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }
  .chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
    z-index: 10000;
  }
  body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  .chatbot header {
    padding: 5px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #166896;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
  header h2 {
    font-size: 1.4rem;
  }
  .chatbot .chatbox {
    overflow-y: auto;
    height: 410px;
    padding: 30px 20px 100px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
  }
  .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .chatbox .chat {
    display: flex;
    list-style: none;
  }
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }
  .chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #166896;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #166896;
  }
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
  }
  .chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
  }
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }
  .chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  .chat-input span {
    align-self: flex-end;
    color: #166896;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
  }
  .chat-input textarea:valid ~ span {
    visibility: visible;
  }
  
  @media (max-width: 429px) {
    .chatbot-toggler {
      right: 10px;
      bottom: 15px;
    }
    .chatbot {
      right: 15px;
      width: 390px;
      height: 450px;
      bottom: 80px;
  }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }






  /* practice area */


  .s-20 {
    margin: 70px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
   .parentp {
    margin: 0px 30px 0px 30px;
   }
  .pimg img {
  height: 250px;
  width: 360px;
    position: relative; /* Changed from absolute to relative */
    z-index: 1; /* Add z-index to ensure it is below the practicebox */
    border-radius: 5px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  .pimg img:hover {
    background: rgba(184, 155, 94, 0.7); /* Orange color with 50% opacity */

  }
  
  .practicebox {
    background-color: #ffffff;
    position: relative;
    top: -80px;
    left: 32px;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2; /* Ensure it is above the image */
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    cursor: pointer;
    transition:  box-shadow 0.5s ease;
  }
  .practicebox:hover {
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .practicebox h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #166896;
    font-size: 35px;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  .practicebox p {
    font-size: 16px;
    word-spacing: 2px;
    text-align: center;
    line-height: 20px;
    color: #777777;
    margin: 0px 10px 20px 10px;
  }
  .practicebox a {
    text-decoration: none;
    margin: 15px 0px 20px 0px ;
    padding: 15px 45px;
    font-weight: 600;
    color: #166896;
    font-size: 15px;
    outline: 3px solid #166896;
    border-radius: 1px;
  }
  .practicebox a:hover {
    color: black;
    background-color: #166896;
  }
  

  /* criminal lawyer */
  .s-21{
    margin:80px 0px;
   
  }
  .CL img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  .Text {
    margin-top: 50px ;
  }
  .Text h3 {
    color: #721c24;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
  }
  .Text p {
    font-size: 20px;
    margin:20px 0px;
    word-spacing: 4px;
    line-height: 30px;
   color: #166896;  

  }
  .Text ul {
    font-size: 18px;
    margin:20px 0px;
    word-spacing: 2px;
    line-height: 25px;
  }
  .Text ul li {
    margin: 15px 15px;
  }
  .clend {
    margin-top: 50px;
  }
  .clend a {
   
    text-decoration: none;
    padding: 12px 30px ;
    outline: 2px solid #000000;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
  }
  .clend a:hover {
    color: #ffffff;
    background-color: #000000;
  }


/* disclaimer */

.flex_align_justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-height: 100vh;
  padding: 0 20px;
}

.tc_wrap {
  width: 450px;
  height: 450px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  overflow: hidden;
}



.tc_wrap .tab_head,
.tc_wrap .tab_foot {
  
  padding: 30px 0px 30px 0px;
  height: 70px;
}

.tc_wrap .tab_head h2 {
  text-align: center;
  font-size: 29px;
  line-height: 0;
  color:#166896 ;
  
}

.tc_wrap .tab_body {
  height: calc(100% - 140px);
  overflow: auto;
}




.tc_wrap .tab_body .tab_item h3 {
  padding-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.tc_wrap .tab_body .tab_item p {
  margin: 0px 20px 10px 20px ;
    color: #AEC3B0;
    font-size: 13px;
    word-spacing: 3px;


}

.tc_wrap .tab_body .tab_item.active {
  display: block !important;
}

.tc_wrap .tab_foot button {
  width: 125px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tc_wrap .tab_foot button.decline {
  margin-right: 15px;
  border-color: #166896;
  color: #166896;
}

.tc_wrap .tab_foot button.agree {
  background: #166896;
  color: #000000;
}

.tc_wrap .tab_foot button.decline:hover {
  background: #166896;
  color: #000000;
}

.tc_wrap .tab_foot button.agree:hover {
  background: black;
  color:#166896;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
